<div class="well">
    <h4>Leave a Comment:</h4>
    <form role="form" id="comment_form" method="POST" class="form-horizontal">
        <div id="jquery_div">
            <div class="form-group">
                {{ form_widget(form.content, {'attr': {'class': 'form-control', 'id':'_content', 'row':'3' }}) }}
                {{ form_widget(form._token)}}
            </div>
            <button id="submit_comment_form" type="submit" value="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){
        $('#comment_form').on('submit',function(e){
            e.preventDefault();
            var $this = $(this);
            var content = $('#tafrika_postbundle_comment_content').val();
            if(content===''){
                alert("un commentaire vide n'est pas autoriser");
            }else{
                $.ajax({
                    url: '{{ path('comment_add') }}',
                    type: $this.attr('method'),
                    data: $('#comment_form').serialize() + "&post_id="+{{ post.id }},
                    success: function(data) {
                        //alert(data.message);
                        $('#comment_list_ul').prepend(data)
                        //$('#comment_list').load(document.URL +  ' #comment_list');
                        $('#jquery_div').load(document.URL +  ' #jquery_div');
                    },
                    error: function(jq,status,message){
                        //alert(message);
                    }
                });
            }
        });
    });
</script>