{% extends "::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <div class="alert alert-success" role="alert" dir="rtl">
                برا شوف المايل
                <span dir="ltr">"{{ email }}"</span>
                تلقا ليان إنزل عليه
            </div>
        </div>
    </div>
{% endblock body %}
