{% extends "::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-5">
                <div class="alert alert-warning" role="alert" dir="rtl">
                    تي شنو توا وليناش نلعبو راك معندكش 24 ساعة مل عملت دومند متع كلمة سر جديدة برا ثبت فالمايل متاعك
                </div>
            </div>
    </div>
{% endblock body %}
