{% macro signalButton(postId) %}
    <div class="btn-group pull-right" style="margin-left: 10px">
        <button type="button" class="btn btn-default">قوّد</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a id="signal_nsfw" href="{{ path('signal_nsfw') }}" data-toggle="tooltip" data-placement="right"
                   title="سنيالي لحاجات لفيهم كلام زايد ولا قباحة" content="{{ postId }}">قِلة حياء
                </a>
            </li>
            <li>
                <a id="signal_porn" href="{{ path('signal_porn') }}" data-toggle="tooltip" data-placement="right"
                   title="سنيالي لحاجات لفيهم سكس" content="{{ postId }}">-18</a>
            </li>
        </ul>
    </div>
{% endmacro %}